/Reading material
/docs/proposal/proposal.aux
/docs/proposal/proposal.bbl
/docs/proposal/proposal.blg
/docs/proposal/proposal.log
/docs/proposal/proposal.ptb
/docs/proposal/proposal.synctex.gz
/docs/proposal/proposal.tex
/docs/thesis/thesis.aux
/docs/thesis/thesis.bbl
/docs/thesis/thesis.blg
/docs/thesis/thesis.log
/docs/thesis/thesis.ptb
/docs/thesis/thesis.synctex.gz
/docs/thesis/thesis.tex
/.DS_Store
/docs/thesis/thesis.toc
/*.agdai
/docs/thesis/thesis.ilg
/docs/thesis/thesis.ind
/docs/thesis/thesis.idx
/docs/thesis/thesis.out
/docs/thesis/auto/hottintro.el
/docs/.DS_Store
/docs/thesis/abstract.log
/docs/thesis/abstract.tex
/docs/thesis/thesis.dvi
/docs/slides/slides.aux
/docs/slides/slides.log
/docs/slides/slides.nav
/docs/slides/slides.out
/docs/slides/slides.snm
/docs/slides/slides.tex
/docs/slides/slides.toc
/docs/thesis/.DS_Store
