/Reading material
/docs/proposal/proposal.aux
/docs/proposal/proposal.log
/docs/proposal/proposal.synctex.gz
/docs/proposal/proposal.tex
/docs/thesis/thesis.aux
/docs/thesis/thesis.log
/docs/thesis/thesis.pdf
/docs/thesis/thesis.synctex.gz
/docs/thesis/thesis.tex
/docs/thesis/thesis.ptb
/Experiments.agdai
/docs/proposal/proposal.bbl
/docs/proposal/proposal.blg
/docs/proposal/proposal.ptb
/UIP.agdai
