/Empty.agdai
/Experiments.agdai
/Identity.agdai
/Interval.agdai
/Irrelevance.agdai
/Levels.agdai
/Log.agdai
/Naturals.agdai
/Proposition.agdai
/Quicksort.agdai
/Reading material
/Sigma.agdai
/Truncation.agdai
/UIP.agdai
/docs/proposal/proposal.aux
/docs/proposal/proposal.bbl
/docs/proposal/proposal.blg
/docs/proposal/proposal.log
/docs/proposal/proposal.ptb
/docs/proposal/proposal.synctex.gz
/docs/proposal/proposal.tex
/docs/thesis/thesis.aux
/docs/thesis/thesis.bbl
/docs/thesis/thesis.blg
/docs/thesis/thesis.log
/docs/thesis/thesis.ptb
/docs/thesis/thesis.synctex.gz
/docs/thesis/thesis.tex
/IntervalExtensionality.agdai
/UnitVersusInterval.agdai
/IntervalFunctions.agdai
/.DS_Store
/docs/thesis/thesis.toc
/Elem.agdai
